<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Contatos</span>
                </a>
                <ul id="lista-contatos" class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <!-- <li id="li-btn-contatos">
                        <button id="btn-busca-contatos" class="btn btn-success" type="button">Buscar Contatos</button>
                    </li> -->
                    <li id="contato1">
                        <div class="card" style="background-color: lightgreen;">
                            <div class="card-body">
                                <input type="button" class="btn btn-success btn-contato" value="5519992177474" onclick="gerarChatPorContato(this)"></button>
                            </div>
                        </div>
                    </li>
                    <li id="contato1">
                        <div class="card" style="background-color: lightgreen;">
                            <div class="card-body">
                                <input type="button" class="btn btn-success btn-contato" value="5511995669393" onclick="gerarChatPorContato(this)"></button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>